<!-- served as default, will eventually show up at the root of website -->
<!DOCTYPE html>
<html>

<head>
    <title>Log count</title>
    <link rel="icon" href="/img/logs.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/upload-csv.js" ></script>


<body>
    <div class="main-content">
        {{>header}}
        <p class="instruction">Use this site to calculate number of logs and diameter of each log.</p>

        <form method="POST" action="/upload-log-image" enctype="multipart/form-data">
            <div>
                <p>Step 1: Upload image of log stack with attached barcodes.</p>
                <input type="file" name="log-image" />
            </div>
            <div>
                <input type="submit" name="btn_upload_log_pic" value="Upload" />
            </div>
        </form>

        <form id="fileform-csv">
            <div>
                <p>Step 2: Upload csv file of number of logs and short-end diameters.</p>
                <input id="csv-input" type="file" name="log-count-csv-file" />
            </div>
            <div>
                <input type="submit" name="btn_upload_csv_file" value="Upload" />
                <p id="csv-upload"></p>
            </div>
        </form>

        
        <button class="compute" id="logcount-compute">Compute</button>
        <span>
        <p id="message-1">Computer result: </p>
        <p id= "loading"></p>
        <p id= "compare-result"></p>
        </span>
        <div id="id01"></div>

        <div id="result-table"></div>
        <p id="message-2">Accuracy:</p>
    </div>
    {{>footer}}


    <script src="/js/client.js"></script>
    </body>

</head>

</html>