<!-- served as default, will eventually show up at the root of website -->
{{>head}}

<body>
    {{>header}}
    <div class="main-content">
        <div class="row">
            <div class="col s6">
                <p class="instruction">Use this site to calculate number of logs and diameter of each log.</p>
                <form id="fileform">
                    <div>
                        <p>Step 1: Select image of log stack with attached barcodes.</p>
                        <input id="img-input" type="file" name="log-image" />
                    </div>
                    <p class="error hidden" id="img-input-error">Please select an image</p>
                    <p class="error hidden" id="img-server-error"></p>

                    <div>
                        <p>Step 2: Select csv file of number of logs and short-end diameters.</p>
                        <input id="csv-input" type="file" name="log-count-csv-file" />
                    </div>
                    <p class="error hidden" id="csv-input-error">Please select a csv file</p>
                    <br>
                    <button type="submit" class="btn waves-effect waves-light" id="logcount-compute">Compute</button>

                </form>
            </div>
            <div class="col s6" id="">

                <div id="accuracy-container">
                    <h5><b>Barcode Matching Rate:</b> <span id="accuracy"></span> </h5>

                </div>
                <div id="standard-error-container">
                    <h5><b class="">SED Mean Standard Error:</b> <span id="standard-error"></span></h5>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <img src="" alt="" id="original-image" class="col s12">
            </div>
            <div class="col s6">
                <img src="" alt="" id="server-image" class="col s12">
            </div>
        </div>
        <div class="row">
        <h3 id="total-logs"></h3>
            <div class="col s6">
                <h3 id="matched-barcodes"></h3>
                <div id="match-table"></div>
            </div>
            <div class="col s6">
                <h3 id="unmatched-barcodes"></h3>
                <div id="unmatch-table"></div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
<script src="/js/helpers.js"></script>
<script src="/js/client.js"></script>