<!-- served as default, will eventually show up at the root of website -->
<!DOCTYPE html>
<html>

<head>
    <title>Volume calculation</title>
    <link rel="icon" href="/img/logs.png">
    <link rel="stylesheet" href="/css/styles.css">

<body>
    <div class="main-content">
        {{>header}}
        <p class="instruction">Use this site to calculate volume of log stack by JAS formula.</p>
        <form id="fileform-vol">
            <div>
                <p>Step 1: Select image of log stack with attached barcodes.</p>
                <input id="img-vol-input" type="file" name="log-vol-image" />
                <p class="error hidden" id="img-vol-input-error">Please select an image</p>
                <p class="error hidden" id="img-vol-server-error"></p>
            </div>
            

            <div class"text-input-container">
                <label for="log-length">Step 2: Enter log length: </label>
                <p><input type="number" id="log-length" placeholder="E.g: 5.5" required> m</p>
            </div>

            <div class"text-input-container">
                <label for="jas-actual">Step 3: Enter JAS actual result: </label>
                <p><input type="number" id="jas-actual" placeholder="" required> m3</p>
            </div>

            <button class="compute">Compute</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}
    <script src="/js/volume.js"></script>

</body>

</head>

</html>