<footer>
    <p>Created by {{name}} 2020</p>
    <p class="attribute">Contents gathered from <a href="http://www.timbeter.com/jas-scale-measurements-introduction/">Timbeter</a></p>

    <p class="attribute">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>

</footer>