<header>
  
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo">Scale management</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="nav-" href="/">About</a></li>
                <li><a id="nav-logcount" href="/logcount">Log count</a></li>
                <li><a id="nav-volume" href="/volume">Volume calculator</a></li>
            </ul>
        </div>
    </nav>
    <h1>{{title}}</h1>
    <hr>
</header>

<script>
    (function(){
        console.log("window", window.location.pathname)
        const route = window.location.pathname.slice(1); 
        if (["","logcount","volume"].indexOf(route) != -1){
            const element = document.getElementById(`nav-${route}`)
            console.log("route found", route, element)
            
            element.parentElement.classList.add("active")
        }
 
    })()
</script>